@import url(https://fonts.google.com/download?family=Julius%20Sans%20One);
@import url(https://fonts.google.com/download?family=Archivo%20Narrow);
@import url(https://fonts.google.com/download?family=Source%20Sans%20Pro);

/*W3 CSS Parralax template*/
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .bgimg-1 {
        background-image: url("images/bass.jpg");
        min-height: 400px;
    }

    .bgimg-2 {
        background-image: url('images/trees');
        min-height: 400px;
    }

    .bgimg-3 {
        background-image: url('images/concert\ photo.jpg');
        min-height: 400px;
    }

    .bgimg-4 {
        background-image: url('images/thumbnail_IMG_7906.jpg');
        min-height: 400px;
    }

    .bgimg-5 {
    background-image: url('images/resistancelarger.png');
      /* background-color: #0389A6; */
      min-height: 400px;
    }

    .bgimg-6 {
        background-color: #F2811D;
        min-height: 400px;
     
      }

    .w3-wide {letter-spacing: 10px;}
    .w3-hover-opacity {cursor: pointer;}

    /* Turn off parallax scrolling for tablets and phones */
    @media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
    min-height: 400px;
    }
    }
/*HEADER STYLES*/
h1 {
    font-family: "Julius Sans One";
    font-weight: 400;
    font-size: 80px;
    margin: 10px;
    
    color: #000000;
}

h2 {
    font-family: "Archivo Narrow";
    font-weight: 400;
    font-size: 48px;
    margin: 10px;
    
    color: #000000;
}

h3 {
    font-family: "Julius Sans One";
    font-weight: 400;
    font-size: 36px;
    margin: 10px;
    
    color: #000000;
}

h4 {
    font-family: "Archivo Narrow";
    font-weight: ;
    font-size: 32px;
    margin: 10px;
    
    color: #000000;
}

h5 {
    font-family: "Julius Sans One";
    font-weight: 400;
    font-size: 32px;
    margin: 10px;
    color: #000000;
}

ul {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 16px;
    margin: 10px;
    color: #000000;
}

li {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 16px;
    margin: 10px;
    color: #000000;
}

p {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 16px;
    margin: 10px;
    
    color: #000000;
}

strong {
    color:#0389A6;
    font-weight: 400;
}

a {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 16px;
    margin: 10px;
    color:white;
}

/*LARGER SECTION FORMATTING*/
body {
    background-color: white;
}

.whitespace {
 height: 200px;
}




.top{
    background-color: black;
  }

.portfolio {
    background-color: white;
}

.portBox {
    position: relative;
    display: inline-block;
}

.portBox .text {
    position:absolute;
    z-index: 1000;
    margin-top: 40%;

}

.bbground{
    background-color: white;
}

.navBar{
    background-color: black;
}

.mySlides {display: none}

.columnimage {
    size: 70%;
}

/*SPECIFIC TEXT PIECES*/
.poem {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

.role{
    color: black;
  }

.poem .title {
    font-style: italic;
}



/* color theme 
blue: #5B7BA6;
yellow: #F2BC1B;
pink: #F2D8C9; 
orange: #F27052; 
red: #F24738;

/* Color Theme Swatches in Hex */
.Travel-1-hex { color: #C7CCD9; }
.Travel-2-hex { color: #3F7373; }
.Travel-3-hex { color: #A68F72; }
.Travel-4-hex { color: #BF754B; }
.Travel-5-hex { color: #732B1A; }

/* Color Theme Swatches in Hex */
.Le-chemin-des-vignobles-1-hex { color: #222A59; }
.Le-chemin-des-vignobles-2-hex { color: #226B73; }
.Le-chemin-des-vignobles-3-hex { color: #D9B504; }
.Le-chemin-des-vignobles-4-hex { color: #F2E6C2; }
.Le-chemin-des-vignobles-5-hex { color: #F24C27; }

/* Color Theme Swatches in Hex */
.Lettering-Series-LVIII-1-hex { color: #5F736D; }
.Lettering-Series-LVIII-2-hex { color: #F2E8DC; }
.Lettering-Series-LVIII-3-hex { color: #F24130; }
.Lettering-Series-LVIII-4-hex { color: #8C2920; }
.Lettering-Series-LVIII-5-hex { color: #260101; }

/* Color Theme Swatches in Hex */
.UNXD-—-Digital-Luxury-NFT-Marketplace-1-hex { color: #07038C; }
.UNXD-—-Digital-Luxury-NFT-Marketplace-2-hex { color: #F2B705; }
.UNXD-—-Digital-Luxury-NFT-Marketplace-3-hex { color: #A64F03; }
.UNXD-—-Digital-Luxury-NFT-Marketplace-4-hex { color: #BF8773; }
.UNXD-—-Digital-Luxury-NFT-Marketplace-5-hex { color: #260401; }


/* Color Theme Swatches in Hex */
.UNXD-—-Digital-Luxury-NFT-Marketplace-1-hex { color: #592A01; }
.UNXD-—-Digital-Luxury-NFT-Marketplace-2-hex { color: #F2811D; }
.UNXD-—-Digital-Luxury-NFT-Marketplace-3-hex { color: #A64F03; }
.UNXD-—-Digital-Luxury-NFT-Marketplace-4-hex { color: #004A59; }
.UNXD-—-Digital-Luxury-NFT-Marketplace-5-hex { color: #0389A6; }


